.Container {
  max-width: 1200px;
  margin: 0 auto;
}
.Logo-product {
  margin-top: 20px;
  margin-left: 20px;
}
.Btn-flex {
  display: flex;
  justify-content: space-between;
}
.ProductTable-btn-review {
  background-color: rgb(255, 255, 255);
  color: rgb(5, 188, 82);
  font-family: Inter;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
  border: none;
  padding: 17px 58px;
  margin-left: 40px;
  margin-top: 31px;
  position: relative;
}
.ProductTable-btn-add_products {
  background-color: rgb(255, 255, 255);
  color: rgb(5, 188, 82);
  font-family: Inter;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
  border: none;
  padding: 17px 25px;
  margin-right: 40px;
  margin-top: 31px;
  position: relative;
}
.Title {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 64px;
  font-weight: 700;
  line-height: 77px;
  letter-spacing: 0%;
  text-align: left;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 75px;
}
